a {
  text-decoration: none;
}
* {
  font-family: "nunito", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.nav_bar {
  background: #04960b;
  color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.menu_items {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.menu_items a {
  color: #fff !important;
}

input {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #8b9008;
}

button {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 7px;
  outline: none;
  background: #646b04;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

 button:hover{
  transform: translateY(-3px);
}

.todo_container {
  margin: 6px;
  padding: 6px;
  font-size: 12px;
  color: #434343;
  font-weight: bold;
  min-height: 83vh;
}

.single_todo {
  font-size: 12px;
  background: #e7e7e7;
  color: #434343;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.gang {
  font-family: "Mozilla Headline", sans-serif;
  color: black;
  font-size: 32px;
}
/* He he he he */
.page {
  margin: 10px;
}
.ramu button {
  background: red;
  padding: 7.5px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-top: 7px;
}

.footer {
  background: #04960b;;
  color: #fff;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}

/* see only this much css can also make site beautiful but some dumbass use use to write 3000 lines of css */
.welcome-text {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.action-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  display:flex;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}
.logout-button {
  background: #d62a0f;
}
.todo-button {
  background: #646b04;
}
.creator-button {
  background: #007bff;
}
.single_todo {
  background-color: #3eec56;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.todo_form input {
  min-width: 500px;

  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
/* hehehehe */
.todo_form button {
  margin-bottom: 20px;
  font-size: 16px;
}
.todo_form button:active {
  background-color: #d62a0f;
}

@media (max-width: 800px) {
  .todo_form input {
    min-width: 300px;
  }
}
