* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
}

.nav_bar {
  background: #afaa07;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}

.menu_items {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.menu_items a {
  color: #fff !important;
}

input {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #8b9008;
}

button {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  outline: none;
  background: #646b04;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.todo_container {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  color: #434343;
  font-weight: bold;
  min-height: 83vh;
}

.single_todo {
  font-size: 12px;
  background: #e7e7e7;
  color: #434343;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.gang {
  font-family: "Gang of Three", sans-serif;
}
.page {
  margin: 10px;
}
.ramu button:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #ee0979, #ff6a00);
}

.footer {
  background: #afaa07;
  color: #fff;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}

/* see only this much css can also make site beautiful but some dumbass use use to write 3000 lines of css */
